body {
  margin: 0; /* body要素のデフォルトマージンをリセット */
  padding: 0; /* body要素のデフォルトパディングをリセット */
}

.app-container {
  --header-height: 80px;
  --footer-height: 30px;
  display: flex;
  flex-direction: column;  /* 縦に積む */
  height: 100vh; /* 画面全体を埋める */
  font-family: "Poppins", sans-serif;
  color: #333;
}


